{% extends "baseTemplate.html" %}
{% block extra_scripts %}
<script src="/static/lighthouse/js/alerts.js"></script>
{% end %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-7 col-md-7 main chart_container main_chart_container" width ="100%">
		{% comment Here goes the main graph (main feed) %}
			<h1 class="page-header">Table Merges over Time</h1>
			<div id = "pipelineDescriptor"> <p>This data is pulled from the <a href = 'https://docs.akamai.com/syscomm/query/internal/design/DDC-parser-query/LogFeatureMapping.html'> MRG pipeline</a>, which shows when a table is merged, how big it is, and how many individual contributors submitted part of the merged table.</p> </div>
			<div id="feed_main_chart"  style="min-width: 310px; height: 400px; margin: 0 auto; overflow: scroll;"></div>
		</div>
		<div class="col-sm-5 col-md-5 main">
			<h1>Query Settings</h1>
			<p>Type in the Network and Domain boxes to narrow down the list of possible aggsets, and select the field you want to limit your query by. To limit by host or client name, type the value in the text field as full_name or partial_name*.</p>
			<p>Queries may take over 30 seconds to render, so please be patient!</p>
			<p>
			  <div id="option_inputs" column-count:"4">
			    <form id = "span" style = "position: relative; float: left; width: 33%;">
			    <!--    <p><input type="text" id="nrwr" onkeyup="narrow(this.value)" size="12"></p> -->
			        <p><input type="text" id="nrwr" placeholder = "Network" size="12"></p>
			        <p>
			            <span id="spanMatches"></span><br>
			            <select id="spanNames" multiple size="5"></select>
			        </p>
			    </form>
			  	<form id = "domain" style = "position: relative; float: left; width: 33%;">
			        <p><input type="text" id="nrwr2" placeholder = "Domain" size="12"></p>
			        <p>
			            <span id="domainMatches"></span><br>
			            <select id="domainNames" multiple size="5"></select>
			        </p>
			    </form>
			  	<form id = "other" style = "position: relative; float: left; width: 33%;">
			    </form>
			  </div>
			</p>
			<div class="col-sm-6 col-md-6" id="button_div"></div>
		</div>
	</div>
	<div class="row">
		{% for feed_index in [1,2,3] %}
			<div class="col-sm-4 col-md-4 main chart_container sub_{{feed_index}}_chart_container">
				<h3 class="page-header">Feed {{feed_index}}</h3>
				<div class="y_axis" id="feed_{{feed_index}}_y_axis"></div>
				<div class="chart" id="feed_{{feed_index}}_chart" float="left"></div>
			</div>
		{% end %}
	</div>
</div>
{% end %}
{% block footer_scripts %}

<script src="/static/query/mrg.js"></script>
<script src="/static/lighthouse/js/network.js"></script>
{% comment This makes the page load faster. Faster loading is good. %}
	<script src="/static/lighthouse/js/misc.js"></script>
{% end %}
