.settings_text {
	text-align:right;
	width:50px;
}

.settings_dropdown {
	box-sizing:border-box;
	width:150px;
}

.settings_container {
	margin-top: 10px;
}

/* This one needs a little finagling to look right... */
.settings_apply {
	margin-top: 20px;
	margin-left:28px;
}

.settings_toast {
	display:none;
	margin-top:20px;
}
